version: '3.1'

services:
  HelpStudent-postgres:
    image: postgres:latest
    restart: on-failure
    environment:
      POSTGRES_DB: hduhelp
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "19432:5432"